@model P24MvcClient.Models.OnePageClientViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnePageClient</title>
    <style>
        td.toRight {
            text-align: right;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <p>Number of instance : @Model.InstanceNumber</p>
            @ViewBag.TestResult
            @ViewBag.DebugData
        </div>
        <div>
            @Html.Partial("PartialOnePageClient", Model)
        </div>
    </div>
</body>
</html>
