@model P24MvcClient.Models.OnePageClientViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnePageClient</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <style>

    </style>
</head>
<body class="body">
    <div class="Menu">
        <div class="MenuTab" id="Account">
            Dane Konta
        </div>
        <div class="MenuTab" id="Transaction">
            Dane Transakcji
        </div>
        <div class="MenuTab" id="Webservice">
            Webservice
        </div>
    </div>
    <div class="AccountContent">
        <div class="Data">
            @Html.Partial("PartialOnePageClient", Model)
        </div>
            <div class="Results">
                @Html.Partial("PartialResults", Model)
            </div>
        </div>
</body>
</html>
